header{
  height: 100px;
  background:linear-gradient(to left, black,orange);
  margin-left: -10px;
  margin-top: -22px;
}
header img{
  float: left;
}
header h1{
  margin-left: 200px;
  padding-top: 25px;

}
.feedbacks{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: f1f1f1; */
    /* color: gray; */
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  .inner h1{
    font-size: 50px;
    font-family:cursive;
    color: transparent;
    -webkit-text-stroke: 1px gray;
    background: url(../images/back1.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 100s linear infinite;
  
  }
  @keyframes back{
    100%{
        background-position: 2000px 0;
    }
  }
  .border{
    width: 140px;
    height: 5px;
    background: yellow;
    margin: 26px auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .feedback{
    /* background: darkgray; */
    padding: 30px;
    transition: transform .2s;
  }
  .feedback:hover{
    transform: scale(1.1);
  }
  .feedback img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 90px;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .star{
    color: orange;
  }
  @media screen and (max-width:960px){
    .col{
        flex: 100%;
        max-width: 80%;
    }
  }
  @media screen and (max-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
  }
  
  .ter_a{
    text-decoration: none;
    font-size: 29px;
    color: black;
    
  }
  .ter_a:hover{
    color: white;
    text-shadow: 0 0 10px black,
                 0 0 20px black,
                 0 0 40px black,
                 0 0 80px black,
                 0 0 120px black,
                 0 0 160px black;
                
  }
  footer{
    /* margin-top: 400px; */
    padding: 3px;
    background:linear-gradient(to left, black,orange);
}
footer p{
    margin-left: 500px;
}