body{
    background-color: whitesmoke;
}
header{
    height: 100px;
    background:linear-gradient(to left, black,orange);
    margin-left: -10px;
    margin-top: -22px;
}
header img{
    float: left;
}
header h1{
    margin-left: 200px;
    padding-top: 25px;

}
nav{
    margin-left: -10px;
    background-color: aquamarine;
    border-top: 2px solid aquamarine;
    padding: 1px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 100px;
   
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
article{
    width: 40%;
    margin-left: 25%;
}
article img{
    float: left;
    padding: 2%;
    transition: transform .2s;
}
article img:hover{
    transform: scale(1.1);
}
article p{
    text-align: justify;
}
aside{
    background-color:chocolate;
    border-radius: 10px;
    margin-top: -400px;
    float: right;
    margin-right: 200px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
aside h3{
    color: wheat;
}
aside ul li a{
    text-decoration: none;
    color: black;
}



.aside1{
    background-color:chocolate;
    border-radius: 10px;
    margin-top: -400px;
    float: left;
    margin-right: 200px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.aside h3{
    color: wheat;
}
.aside ul li a{
    text-decoration: none;
    color: black;
}

footer{
    /* margin-top: 400px; */
    padding: 3px;
    background:linear-gradient(to left, black,orange);
}
footer p{
    margin-left: 500px;
}
section{
    margin-left: 100px;
    margin-top: 100px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
a:hover{
    color: blue;
    text-shadow: 20px ;
}